<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Сушимаркет Киото | Управление сайтом</title>

    <script src="/socket.io/socket.io.js"></script>

    <script type="text/javascript" src="/js/vendor/angular.min.js"></script>
    <script type="text/javascript" src="/js/vendor/angular-resource.js"></script>
    <script type="text/javascript" src="/js/lib/ng-tags-input.min/ng-tags-input.min.js"></script>
    <script type="text/javascript" src="/js/dc-app/dc-user/controller.js"></script>
    <script type="text/javascript" src="/js/dc-app/dc-user/service.js"></script>
    <script type="text/javascript" src="/js/dc-app/dc-services/controller.js"></script>
    <script type="text/javascript" src="/js/dc-app/components.js"></script>
    <script type="text/javascript" src="/js/dc-app/app.js"></script>


    <link rel="stylesheet" href="/js/lib/ng-tags-input.min/ng-tags-input.min.css">

    <!-- Bootstrap Core CSS -->
    <link href="/admin/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/admin/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="/admin/dist/css/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/admin/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="/admin/bower_components/morrisjs/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/admin/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body ng-controller="orders">

<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">На сайт</a>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" href="/api/logout">Выйти
                    <i class="fa fa-sign-out fa-fw"></i>
                </a>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->

        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li>
                        <a href="/admin/rolls"><i class="fa fa-th-list fa-fw"></i> Роллы</a>
                    </li>
                    <li>
                        <a href="/admin/orders"><i class="fa  fa-ruble fa-fw"></i> Заказы</a>
                    </li>
                    <li>
                        <a href="/admin/shops"><i class="fa  fa-ruble fa-fw"></i> Магазины</a>
                    </li>
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>

    <div id="page-wrapper">
        <div class="row">
            <div class="col-xs-12">
                <br/>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <ul class="nav nav-pills">
                            <li class="active"><a href="#activeOrders" data-toggle="tab" aria-expanded="false">Новые
                                    заказы</a>
                            </li>
                            <li class=""><a href="#processedOrders" data-toggle="tab" aria-expanded="true">Обработанные
                                    заказы</a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <!-- Nav tabs -->


                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane fade active in" id="activeOrders">
                                <div class="panel-group" id="accordion">
                                    <div class="panel panel-default" ng-repeat="s in orders">
                                        <div class="panel-heading">
                                            <div class="pull-right">
                                                <button type="button" class="btn btn-danger btn-xs"
                                                        ng-click="setProcessed(s)">
                                                    Обработан
                                                </button>
                                            </div>
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion"
                                                   href="#collapse-{{s._id}}">
                                                    <div class="row">
                                                        <div class="col-xs-3">
                                                            {{s.client.name}}
                                                        </div>
                                                        <div class="col-xs-2">
                                                            {{s.client.phone}}
                                                        </div>
                                                        <div class="col-xs-2">
                                                            {{s.sum}} руб.
                                                        </div>
                                                        <div class="col-xs-3">
                                                            <small> {{ s.dateFromNow }}</small>
                                                        </div>
                                                    </div>
                                                </a>
                                            </h4>


                                        </div>
                                        <div id="collapse-{{s._id}}" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <div class="row" ng-show="s.type === 'selfExport'">
                                                    <div class="col-xs-4">
                                                        <h3>Клиент</h3>
                                                        <blockquote>
                                                            <p>Имя: <b>{{s.client.name}}</b></p>
                                                            <p>Телефон: <b>{{s.client.phone}}</b></p>
                                                        </blockquote>
                                                    </div>
                                                    <div class="col-xs-8">
                                                        <h3>Самовывоз</h3>
                                                        <blockquote>
                                                            <p>Точка: <b>{{s.selfExport.shop.name}}
                                                                    ({{s.selfExport.shop.address}})</b></p>

                                                            <p>Время: <b>{{s.time}}<span ng-show="!s.time">не указано</span> </b></p>
                                                        </blockquote>
                                                    </div>
                                                </div>
                                                <div class="row" ng-show="s.type === 'delivery'">
                                                    <div class="col-xs-4">
                                                        <h3>Клиент</h3>
                                                        <blockquote>
                                                            <p>Имя: <b>{{s.client.name}}</b></p>
                                                            <p>Телефон: <b>{{s.client.phone}}</b></p>
                                                        </blockquote>
                                                    </div>
                                                    <div class="col-xs-8">
                                                        <h3>Доставка</h3>
                                                        <blockquote>
                                                            <p>Адрес:
                                                                <span ng-show="s.delivery.address.street">улица <b>{{s.delivery.address.street}}</b></span>
                                                                <span ng-show="s.delivery.address.house">, дом <b>{{s.delivery.address.house}}</b></span>
                                                                <span ng-show="s.delivery.address.building">, строение <b>{{s.delivery.address.building}}</b></span>
                                                                <span ng-show="s.delivery.address.padik">, подъезд <b>{{s.delivery.address.padik}}</b></span>
                                                                <span ng-show="s.delivery.address.flat">, квартира <b>{{s.delivery.address.flat}}</b></span>
                                                                <span ng-show="s.delivery.address.doorphone">, домофон <b>{{s.delivery.address.doorphone}}</b></span>
                                                            </p>

                                                            <p>Время: <b>{{s.delivery.time}} <span ng-show="!s.delivery.time">не указано</span></b></p>
                                                        </blockquote>
                                                    </div>
                                                </div>
                                                <div class="table-responsive">
                                                    <table class="table table-hover">
                                                        <thead>
                                                        <tr>
                                                            <th>Позиция</th>
                                                            <th>Количество (шт)</th>
                                                            <th>Сумма за позицию (руб)</th>
                                                            <th>Вес (г)</th>
                                                            <th></th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr ng-repeat="p in s.basket">
                                                            <td>{{p.product.name}}</td>
                                                            <td>{{p.count}}</td>
                                                            <td>{{p.sum}}</td>
                                                            <td>{{p.product.weight * p.count}}</td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="processedOrders">

                                <div class="panel-group" id="accordion">
                                    <div class="panel panel-default" ng-repeat="s in processedOrders">
                                        <div class="panel-heading">
                                            <div class="pull-right">
                                                <button type="button" class="btn btn-default btn-xs btn-link"
                                                        ng-click="startEdit(s)">
                                                    <i class="fa  fa-pencil" data-toggle="modal"
                                                       data-target="#editModal"></i>
                                                </button>
                                                <button type="button" class="btn btn-danger btn-xs btn-link"
                                                        ng-click="setProcessed(s)">
                                                    <i class="fa fa-times"></i>
                                                </button>
                                            </div>
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion"
                                                   href="#collapse-{{s._id}}">
                                                    <div class="row">
                                                        <div class="col-xs-3">
                                                            {{s.client.name}}
                                                        </div>
                                                        <div class="col-xs-2">
                                                            {{s.client.phone}}
                                                        </div>
                                                        <div class="col-xs-2">
                                                            {{s.sum}} руб.
                                                        </div>
                                                    </div>
                                                </a>
                                            </h4>


                                        </div>
                                        <div id="collapse-{{s._id}}" class="panel-collapse collapse">
                                            <div class="panel-body">

                                                <div class="table-responsive">
                                                    <table class="table table-hover">
                                                        <thead>
                                                        <tr>
                                                            <th>Позиция</th>
                                                            <th>Количество (шт)</th>
                                                            <th>Сумма за позицию (руб)</th>
                                                            <th>Вес (г)</th>
                                                            <th></th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr ng-repeat="p in s.basket">
                                                            <td>{{p.product.name}}</td>
                                                            <td>{{p.count}}</td>
                                                            <td>{{p.sum}}</td>
                                                            <td>{{p.product.weight * p.count}}</td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
     data-backdrop="static" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancelEdit()">
                    ×
                </button>
                <h4 class="modal-title" id="myModalLabel">{{ currentEdit.oldName }} {{modalMessage}} </h4>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Название</label>
                                    <input class="form-control" ng-model="currentEdit.name">
                                </div>
                                <div class="form-group">
                                    <label>Состав</label>
                                    <tags-input ng-model="currentEdit.ingredients"></tags-input>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Стоимость (за 1 шт.)</label>
                                    <input class="form-control" ng-model="currentEdit.cost">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Вес (1 шт.)</label>
                                    <input class="form-control" ng-model="currentEdit.weight">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancelEdit()">
                    Отмена
                </button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="saveService()">
                    Сохранить
                </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>


<!-- jQuery -->
<script src="/admin/bower_components/jquery/dist/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/admin/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="/admin/bower_components/metisMenu/dist/metisMenu.min.js"></script>

<!-- Morris Charts JavaScript -->
<script src="/admin/bower_components/raphael/raphael-min.js"></script>
<script src="/admin/bower_components/morrisjs/morris.min.js"></script>
<script src="/admin/js/morris-data.js"></script>

<!-- Custom Theme JavaScript -->
<script src="/admin/dist/js/sb-admin-2.js"></script>
<script src="/js/lib/moment-loc.js"></script>
<script>
    moment.locale('ru');
</script>


</body>

</html>
