<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Сушимаркет Киото | Управление сайтом</title>

    <script type="text/javascript" src="/js/vendor/angular.min.js"></script>
    <script type="text/javascript" src="/js/vendor/angular-resource.js"></script>
    <script type="text/javascript" src="/js/lib/ng-tags-input.min/ng-tags-input.min.js"></script>
    <script type="text/javascript" src="/js/dc-app/dc-user/controller.js"></script>
    <script type="text/javascript" src="/js/dc-app/dc-user/service.js"></script>
    <script type="text/javascript" src="/js/dc-app/dc-services/controller.js"></script>
    <script type="text/javascript" src="/js/dc-app/dc-services/service.js"></script>
    <script type="text/javascript" src="/js/dc-app/components.js"></script>
    <script type="text/javascript" src="/js/dc-app/app.js"></script>


    <link rel="stylesheet" href="/js/lib/ng-tags-input.min/ng-tags-input.min.css">

    <!-- Bootstrap Core CSS -->
    <link href="/admin/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/admin/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="/admin/dist/css/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/admin/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="/admin/bower_components/morrisjs/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/admin/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body ng-controller="allServices">

<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">На сайт</a>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" href="/api/logout">Выйти
                    <i class="fa fa-sign-out fa-fw"></i>
                </a>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->

        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li>
                        <a href="/admin/rolls"><i class="fa fa-th-list fa-fw"></i> Роллы</a>
                    </li>
                    <li>
                        <a href="/admin/orders"><i class="fa  fa-ruble fa-fw"></i> Заказы</a>
                    </li>
                    <li>
                        <a href="/admin/shops"><i class="fa  fa-ruble fa-fw"></i> Магазины</a>
                    </li>
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>

    <div id="page-wrapper">
        <div class="row">

            <div class="col-lg-12">
                <br/>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        Роллы
                        <div class="pull-right">
                            <button type="button" class="btn btn-default btn-xs btn-link"
                                    ng-click="startEdit(false)" data-toggle="modal" data-target="#editModal"> Добавить
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                    <!-- .panel-heading -->
                    <div class="panel-body">

                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>Название</th>
                                    <th>Стоимость (руб/шт)</th>
                                    <th>Вес (г/шт)</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="p in products">
                                    <td>{{p.name}}</td>
                                    <td>{{p.cost}}</td>
                                    <td>{{p.weight}}</td>
                                    <td>
                                        <div class="pull-right">
                                            <button type="button" class="btn btn-default btn-xs btn-link"
                                                    ng-click="startEdit(p)">
                                                <i class="fa  fa-pencil" data-toggle="modal"
                                                   data-target="#editModal"></i>
                                            </button>
                                            <button type="button" class="btn btn-danger btn-xs btn-link"
                                                    ng-click="deleteService(p)">
                                                <i class="fa fa-times"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                    <!-- .panel-body -->
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
        </div>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
     data-backdrop="static" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancelEdit()">×
                </button>
                <h4 class="modal-title" id="myModalLabel">{{ currentEdit.oldName }} {{modalMessage}} </h4>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Название</label>
                                    <input class="form-control" ng-model="currentEdit.name">
                                </div>
                                <div class="form-group">
                                    <label>Состав</label>
                                    <tags-input ng-model="currentEdit.ingredients"></tags-input>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Стоимость (за 1 шт.)</label>
                                    <input class="form-control" ng-model="currentEdit.cost">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Старая стоимость (за 1 шт.)</label>
                                    <input class="form-control" ng-model="currentEdit.old_cost">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Вес (1 шт.)</label>
                                    <input class="form-control" ng-model="currentEdit.weight">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Тип товара</label>
                                    <input class="form-control" ng-model="currentEdit.type">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Порядок сортировки</label>
                                    <input class="form-control" ng-model="currentEdit.sort">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancelEdit()">
                    Отмена
                </button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="saveService()">
                    Сохранить
                </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>


<!-- jQuery -->
<script src="/admin/bower_components/jquery/dist/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/admin/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="/admin/bower_components/metisMenu/dist/metisMenu.min.js"></script>

<!-- Morris Charts JavaScript -->
<script src="/admin/bower_components/raphael/raphael-min.js"></script>
<script src="/admin/bower_components/morrisjs/morris.min.js"></script>
<script src="/admin/js/morris-data.js"></script>

<!-- Custom Theme JavaScript -->
<script src="/admin/dist/js/sb-admin-2.js"></script>
<script src="/js/lib/moment-loc.js"></script>


</body>

</html>
