<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CookBook | Login</title>

    <script type="text/javascript" src="/js/vendor/angular/angular.min.js"></script>
    <script type="text/javascript" src="/js/vendor/angular/angular-resource.js"></script>
    <script type="text/javascript" src="/js/dc-app/dc-user/controller.js"></script>
    <script type="text/javascript" src="/js/dc-app/dc-user/service.js"></script>
    <script type="text/javascript" src="/js/dc-app/dc-advert/controller.js"></script>
    <script type="text/javascript" src="/js/dc-app/dc-advert/service.js"></script>
    <script type="text/javascript" src="/js/dc-app/app.js"></script>

    <link rel="icon" sizes="192x192" href="/img/touch-icon.png"/>
    <link rel="apple-touch-icon" href="/img/touch-icon-iphone.png"/>
    <link rel="apple-touch-icon" sizes="76x76" href="/img/touch-icon-ipad.png"/>
    <link rel="apple-touch-icon" sizes="120x120" href="/img/touch-icon-iphone-retina.png"/>
    <link rel="apple-touch-icon" sizes="152x152" href="/img/touch-icon-ipad-retina.png"/>

    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico"/>

    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/main.min.css">
</head>
<body>


<div>

    <div class="col-md-6" ng-controller="getAds">
        <article class="widget">

            <div class="widget__content">

                <div class="clearfix"></div>

                <div class="members__container">

                    <div class="media message" ng-repeat="advert in ads">
                        <div class="media-body">
                            <h4 class="media-heading message__heading">{{ advert.cost }}</h4>
                            <p class="message__location">
                                <i class="pe-7f-map-marker"></i>  London, United Kingdom
                            </p>

                            <a class="c-btn--check"></a>
                            <input type="checkbox" class="btn-more-check" id="more3">
                            <label class="c-btn--more" for="more3"></label>

                            <div class="message__details">
                                <table>
                                    <tbody><tr>
                                        <td>Email:</td>
                                        <td>info@contact.com</td>
                                    </tr>
                                    <tr>
                                        <td>Site:</td>
                                        <td>www.companyname.com</td>
                                    </tr>
                                    <tr>
                                        <td>Company:</td>
                                        <td>CompanyName</td>
                                    </tr>
                                    <tr>
                                        <td>Pan:</td>
                                        <td>Premium</td>
                                    </tr>
                                    <tr>
                                        <td>Messages:</td>
                                        <td><span class="badge badge--line badge--blue">16</span></td>
                                    </tr>
                                    </tbody></table>
                            </div>

                        </div>
                    </div>

                </div> <!-- /members__container -->

                <div class="clearfix"></div>

                <!--<div class="members__footer"><button class="members__load-more"><span>+</span> Load More...</button><button class="members__search">
                        <i class="pe-7s-graph2"></i> Analytics
                    </button>
                </div>-->

            </div>
        </article><!-- /widget -->
    </div>
</div>


<script type="text/javascript" src="/js/main.js"></script>
<script type="text/javascript" src="/js/amcharts/amcharts.js"></script>
<script type="text/javascript" src="/js/amcharts/serial.js"></script>
<script type="text/javascript" src="/js/amcharts/pie.js"></script>
<script type="text/javascript" src="/js/chart.js"></script>
</body>
</html>