<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CookBook | Error <%= error.status %></title>

    <link rel="icon" sizes="192x192" href="/img/touch-icon.png" />
    <link rel="apple-touch-icon" href="/img/touch-icon-iphone.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/img/touch-icon-ipad.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="/img/touch-icon-iphone-retina.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/img/touch-icon-ipad-retina.png" />

    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico" />

    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/main.min.css">
</head>
<body>
<div id="loading">
    <div class="loader loader-light loader-large"></div>
</div>

<div>
    <div class="col-md-12">

        <div class="main-logo error-page"><img src="/img/logo.png"></div>

        <div class="error-wrap">
            <div class="error">
                <span><%= error.status %> Error</span>
            </div>
            <div class="error">
                <span><%= error.status %> Error</span>
            </div>
            <div class="error">
                <span><%= error.status %> Error</span>
            </div>
            <p>
                <a href="/"><i class="pe-7s-home"></i></a>
        </div>

    </div>
</div>



<script type="text/javascript" src="/js/main.js"></script>
<script type="text/javascript" src="/js/amcharts/amcharts.js"></script>
<script type="text/javascript" src="/js/amcharts/serial.js"></script>
<script type="text/javascript" src="/js/amcharts/pie.js"></script>
<script type="text/javascript" src="/js/chart.js"></script>
</body>
</html>