<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CookBook | Login</title>

    <script type="text/javascript" src="/js/vendor/angular/angular.min.js"></script>
    <script type="text/javascript" src="/js/vendor/angular/angular-resource.js"></script>
    <script type="text/javascript" src="/js/dc-app/dc-user/controller.js"></script>
    <script type="text/javascript" src="/js/dc-app/dc-user/service.js"></script>
    <script type="text/javascript" src="/js/dc-app/dc-advert/controller.js"></script>
    <script type="text/javascript" src="/js/dc-app/dc-advert/service.js"></script>
    <script type="text/javascript" src="/js/dc-app/app.js"></script>

    <link rel="icon" sizes="192x192" href="/img/touch-icon.png"/>
    <link rel="apple-touch-icon" href="/img/touch-icon-iphone.png"/>
    <link rel="apple-touch-icon" sizes="76x76" href="/img/touch-icon-ipad.png"/>
    <link rel="apple-touch-icon" sizes="120x120" href="/img/touch-icon-iphone-retina.png"/>
    <link rel="apple-touch-icon" sizes="152x152" href="/img/touch-icon-ipad-retina.png"/>

    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico"/>

    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/main.min.css">
</head>
<body>
<div id="loading">
    <div class="loader loader-light loader-large"></div>
</div>


<div class="row" ng-controller="addAds">

    <div class="col-md-2 col-md-offset-2 text-center btn-vars__showcase">
            <div class="dropdown">
                <button class="btn btn-block orange dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                    Select house type
										    <span class="caret">
										    	<i class="pe-7g-arrow2-down"></i>
										    </span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Flat</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">House</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Room</a></li>
                </ul>
            </div>
            <div class="dropdown">
                <button class="btn btn-block violet dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown">
                    Select design style
										    <span class="caret">
										    	<i class="pe-7g-arrow2-down"></i>
										    </span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Designer style</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Building design</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Euro design</a></li>
                </ul>
            </div>
    </div>

    <div class="col-md-4">
        <article class="widget widget__form">
            <header class="widget__header">
                <div class="widget__title">
                    <i class="pe-7s-menu"></i>

                    <h3>Add advert</h3>
                </div>
                <div class="widget__config">
                    <a href="#"><i class="pe-7f-refresh"></i></a>
                    <a href="#"><i class="pe-7s-close"></i></a>
                </div>
            </header>

            <div class="widget__content">

                <input type="text" placeholder="Full name">
                <input type="text" placeholder="Promotion code">
                <input type="text" placeholder="Email">



                <button ng-click="saveData">Save</button>
            </div>
        </article>
    </div>

    <div class="col-md-3">
        <article class="widget">
            <div class="widget__content">

                <div class="alert alert-fixed alert-danger alert-dismissible" role="alert" ng-repeat="error in errors">
                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true"><i class="pe-7s-close"></i></span><span class="sr-only">Close</span></button>
                    <div class="alert__icon pull-left">
                        <i class="pe-7s-close-circle"></i>
                    </div>
                    <p class="alert__text"> {{ error.message }}</p>
                </div>

            </div> <!-- /widget__content -->

        </article><!-- /widget -->
    </div>

</div>


<script type="text/javascript" src="/js/main.js"></script>
<script type="text/javascript" src="/js/amcharts/amcharts.js"></script>
<script type="text/javascript" src="/js/amcharts/serial.js"></script>
<script type="text/javascript" src="/js/amcharts/pie.js"></script>
<script type="text/javascript" src="/js/chart.js"></script>
</body>
</html>