.btn-basket {
    background-color: transparent;
    border: 2px solid #ffffff;
    margin: 7px 0 27px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 1px;
    color: #ffffff;

    padding: 3px 12px;
    height: 30px;
    border-radius: 6px;
    box-shadow: none;
    -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
    transition: border .25s linear, color .25s linear, background-color .25s linear;
}

.btn-basket:hover,
.btn-basket:focus {
    color: #bdc3c7;
    border-color: #bdc3c7;
}

.product {
    border: 2px solid #ddd;
    border-radius: 6px;
    margin-bottom: 20px;
    padding: 5px 5px 5px;
    position: relative;
    z-index: 1;
}

.count {
    /*height: 60px;*/
}

.add-prod, .del-prod {
    background-color: transparent;
}

.add-prod,
.add-prod:active,
.add-prod.active {
    color: #2dc16b;
}

.add-prod:hover,
.add-prod:focus {
    color: rgba(45, 193, 107, 0.7);
}

.del-prod,
.del-prod:active,
.del-prod.active {
    color: #d44b1b;
}

.del-prod:hover,
.del-prod:focus {
    color: rgba(212, 75, 27, 0.7);
}

.to-basket,
.to-basket:active,
.to-basket.active {
    width: 100%;
    background-color: #ff3019;
}

.to-basket:hover,
.to-basket:focus {
    background-color: #ff8211;
}

.basket-row {
    /*border-bottom: 1px solid #e3e3e3;;*/
}

.basket-col {
    text-align: center;
    padding-top: 8px;
}

.basket-col-count {
    padding-top: 7px;
}

.basket-btn {
    padding-left: 1px;
    padding-right: 1px;
}

.basket-count-sum {
    text-align: center;
}

.nopadding {
    padding: 0px !important;
}

.nomargin {
    margin: 0px;
!important;
    width: 100%;
!important;
}

.full {
    width: 100%;
    height: 100%;
}

.sale {
    height: 100%;
}

.sales-left {
    background-color: #121518;
    width: 100%;
    margin-left: -50%;
    padding-left: 50% !important;
}

.red {
    color: #ed1e00;
}

.parallelogram {
    -webkit-transform: skewX(-15deg);
    -moz-transform: skewX(-15deg);
    -ms-transform: skewX(-15deg);
    -o-transform: skewX(-15deg);
    transform: skewX(-15deg);
}

.parallelogram > * {
    -webkit-transform: skewX(15deg);
    -moz-transform: skewX(15deg);
    -ms-transform: skewX(15deg);
    -o-transform: skewX(15deg);
    transform: skewX(15deg);
}

@media (max-width: 740px) {
    .row .parallelogram, .parallelogram > * {
        -webkit-transform: skewX(0deg);
        -moz-transform: skewX(0deg);
        -ms-transform: skewX(0deg);
        -o-transform: skewX(0deg);
        transform: skewX(0deg);
    }
}

/**
 * Header 10 stylesheet  
 * */
.header-menu {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    height: 75px;
    color: white;
}

.header-menu .header-background {
    background: #1b1f23;
}

.header-menu .navbar {
    /*position: absolute;*/
    z-index: 2;
    top: 0;
    margin: 0;
}

.header-menu .navbar.navbar-fixed-top {
    top: 0 !important;
}

.header-menu .navbar .phone {
    font-size: 30px;
    font-weight: normal;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 800;
    color: #ffffff;
}

.header-menu .navbar .order-mes {
    font-size: 10px;
    font-weight: normal;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 800;
    color: #ffffff;
}

.header-menu .navbar .nav > li {
    margin-left: 40px;
}

.header-menu .navbar .nav > li:first-child {
    margin-left: 0;
}

.header-menu .navbar .nav > li > a {
    padding: 29px 0 27px;
    font-size: 13px;
    font-weight: normal;
    font-weight: 800;
    letter-spacing: 1px;
    color: #ffffff;
}

.header-menu .navbar .nav > li > a:hover,
.header-menu .navbar .nav > li > a:focus,
.header-menu .navbar .nav > li > a.active {
    color: #bdc3c7;
}

.header-menu .navbar .nav > li.active > a {
    color: #bdc3c7;
}

.header-menu .navbar .nav > li.active > a:hover,
.header-menu .navbar .nav > li.active > a:focus,
.header-menu .navbar .nav > li.active > a.active {
    color: #bdc3c7;
}

.header-menu .navbar .navbar-form {
    padding: 19px 0 19px 50px;
}

.header-menu .navbar .btn {
    padding-left: 26px;
    padding-right: 26px;
}

.header-menu .navbar .btn.btn-success {
    font-size: 15px;
    font-weight: normal;
    color: #ffffff;
    font-weight: 500;
}

.header-menu .navbar .navbar-toggle {
    margin-top: 30px;
}

.header-menu-sub {
    position: relative;
    z-index: 50;
    height: 501px;
    background-color: #555555;
    color: white;
    text-align: center;
    margin-top: 75px;
}

.header-menu-sub.v-center,
.header-menu-sub .v-center {
    display: table;
    width: 100%;
}

.header-menu-sub.v-center > div,
.header-menu-sub .v-center > div {
    display: table-cell;
    vertical-align: middle;
    margin-top: 0;
    margin-bottom: 0;
    float: none;
}

@media (min-width: 768px) {
    .header-menu-sub.v-center.row:before,
    .header-menu-sub .v-center.row:before,
    .header-menu-sub.v-center.row:after,
    .header-menu-sub .v-center.row:after {
        display: none;
    }
}

@media (max-width: 767px) {
    .header-menu-sub.v-center,
    .header-menu-sub .v-center {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding-left: 5px;
        padding-right: 5px;
    }

    .header-menu-sub.v-center.row,
    .header-menu-sub .v-center.row {
        display: block;
        width: auto;
    }

    .header-menu-sub.v-center.row:before,
    .header-menu-sub .v-center.row:before,
    .header-menu-sub.v-center.row:after,
    .header-menu-sub .v-center.row:after {
        display: none;
    }

    .header-menu-sub.v-center.row > *,
    .header-menu-sub .v-center.row > * {
        display: block;
        vertical-align: baseline;
    }
}

.header-menu-sub .background {
    background-image: url('/img/slider/1.jpg');
    opacity: 20;
    filter: alpha(opacity=2000);
    opacity: 0.2;
    filter: alpha(opacity=20);
}

.header-menu-sub .hero-unit {
    padding: 0;
    margin: 0;
    background-color: transparent;
}

.header-menu-sub .hero-unit h1 {
    margin: 0 0 30px;
    font-size: 45px;
    font-weight: normal;
    color: #ffffff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
}

.header-menu-sub .hero-unit p {
    font-size: 25px;
    font-weight: normal;
    color: #bdc3c7;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    line-height: 37.5px;
}

@media (max-width: 480px) {
    .header-menu-sub .hero-unit h1 {
        font-size: 36px;
        font-weight: normal;
        color: #ffffff;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 300;
    }

    .header-menu-sub .hero-unit p {
        font-size: 22px;
        font-weight: normal;
        color: #bdc3c7;
        line-height: 35px;
        font-weight: 300;
    }

}

.header-menu-sub .hero-unit.hero-unit-bordered h1 {
    font-size: 46px;
    font-weight: normal;
    color: #ffffff;
    font-weight: 500;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    border: 8px solid white;
    display: inline-block;
    margin: 0;
    padding: 30px 40px;
}

@media (max-width: 480px) {
    .header-menu-sub .hero-unit.hero-unit-bordered h1 {
        font-size: 22px;
        font-weight: normal;
        color: #ffffff;
        font-weight: 500;
    }
}

@media (max-width: 480px) {
    .header-menu-sub.v-center > div {
        padding-top: 35px;
        padding-bottom: 70px;
    }
}

.header-menu-sub .control-btn {
    width: 53px;
    height: 53px;
    line-height: 53px;
    margin: 0;
    padding: 0;
    border-radius: 50%;
    text-align: center;
    font-size: 19px;
    font-weight: normal;
    color: #7f8c8d;
    color: #ffffff;
    background: #121518;
    opacity: 80;
    filter: alpha(opacity=8000);
    opacity: 0.8;
    filter: alpha(opacity=80);
    position: absolute;
    left: 50%;
    bottom: 90px;
    margin-left: -26.5px;
}

.header-menu-sub .control-btn:hover,
.header-menu-sub .control-btn:focus,
.header-menu-sub .control-btn.active {
    color: #ffffff;
}

.header-menu-sub .control-btn:hover,
.header-menu-sub .control-btn:focus,
.header-menu-sub .control-btn:active,
.header-menu-sub .control-btn.active {
    opacity: 100;
    filter: alpha(opacity=10000);
    opacity: 1;
    filter: alpha(opacity=100);
}

@media (max-width: 480px) {
    .header-menu-sub .control-btn {
        bottom: 30px;
    }
}

/* slider*/

.top-side {
    height: 100%;
    margin-left: 0px;
    margin-right: 0px;
    border-bottom: 1px inset rgba(18, 21, 24, 0.60);
}

.left-logo {
    width: 100%;
}

.right-side {
    position: absolute;
    left: 370px;
    z-index: 1;
    height: 100%;
    background-color: #ffffff;
}

.m-sale {
    display: none !important;
}

@media (max-width: 480px) {
    .left-side {
        display: none !important;
    }

    .m-sale {
        display: inline !important;
    }

    .right-side {
        position: absolute;
        left: 0px !important;
        z-index: 1;
        height: 100%;
        background-color: #ffffff;
    }

    .header-menu-sub {
        position: relative;
        z-index: 50;
        height: 201px !important;
        background-color: #555555;
        color: white;
        text-align: center;
        margin-top: 75px;
    }
}

.s-indicate {
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;
}

.s-indicate li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.15);
    border: 1px solid rgba(238, 238, 238, 0.50);
    border-radius: 10px;
}

.s-indicate li .active {
    background-color: rgba(0, 0, 0, 0.55);
}

.s-indicate li:hover {
    background-color: rgba(0, 0, 0, 0.25);
}

.s2 {
    background-color: #ffffff;
    background-image: url('/img/slider/4.jpg');
    background-size: 85%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    /*background-size: cover;*/
}

.s1 {
    background-color: #ffffff;
    background-image: url('/img/slider/2.jpg');
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    /*background-size: cover;*/
}

.s3 {
    background-color: #ffffff;
    background-image: url('/img/slider/5.jpg');
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.s4 {
    background-color: #ffffff;
    background-image: url('/img/slider/6.jpg');
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: 75% 50%;
}

.tab-pane .form-control {
    margin-bottom: 10px;
}

.tab-pane p {
    margin-bottom: 8px;
}

.head3 {
    margin: 0 0 0px;
    font-size: 30px;
    font-weight: 300;
    text-align: left;
    color: #121518;
}

.projects-4 .project-wrapper {
    margin-bottom: 50px;
}

.banner {
    position: relative;
    overflow: auto;
    width: 100%
}

.banner ul {
    padding: 0 0 0 0px;
    margin-bottom: 0px;
}

.banner li {
    list-style: none;
}

.banner ul li {
    float: left;
    display: block;
    min-height: 300px;
}

.banner .dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
}

.banner .dots li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 4px;

    text-indent: -999em;

    border: 2px solid #fff;
    border-radius: 6px;

    cursor: pointer;
    opacity: .4;

    -webkit-transition: background .5s, opacity .5s;
    -moz-transition: background .5s, opacity .5s;
    transition: background .5s, opacity .5s;
}

.banner .dots li.active {
    background: #fff;
    opacity: 1;
}

.nospaces {
    padding: 0 0 0 0px;
    margin: 0 0 0 0px;
}

.logo {
    background-color: #2b2a28;
    height: 101px;
    margin-top: -1px;
    text-align: center;
}

.delivery {
    height: 100%;
    text-align: center;
}

.delivery-phone {
    font-family: "Poiret One";
    font-weight: 800;
    font-size: 30px;
    color: #a6a6a6;
    margin-bottom: 0px;
    margin-top: 11px;
}

.delivery-message {
    font-family: "Poiret One";
    font-weight: 800;
    font-size: 12px;
    color: #a6a6a6;
}

.h3_hr {
    float: left;
    width: 16%;
    height: 0;
    border-top: 5px solid #db2e2e;
    margin-top: 18px;
}

.h3_hr_hr {
    height: 0;
    border-top: 1px solid #d2d2d2;
    margin-top: 22px;
}

.vertical-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.consists {
    max-height: 40px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.slide-h1, .slide-h2, .slide-time, .slide-subtime, .slide-comment, .slide-h3, .slide-h4, .slide-condition, .slide-subcondition {
    padding-left: 100px !important;
    text-align: left;
}

.slide-h1, .slide-h2, .slide-h3, .slide-h4 {
    color: rgba(255, 0, 0, 0.7);
}

.slide-h1 {
    font-family: "Century Gothic", "Poiret One";
    font-size: 160px;
}

.slide-h2 {
    font-family: "Poiret One";
    font-size: 69px;
    font-weight: 900;
}

.slide-h3 {
    font-family: "Century Gothic", "Poiret One";
    font-size: 39px;
    font-weight: 900;
}

.slide-h4 {
    font-family: "Century Gothic", "Poiret One";
    font-size: 27px;
    font-weight: 900;
}

.slide-condition {
    font-family: "Century Gothic", "Poiret One";
    font-size: 45px;
    color: #2b2a28;
}

.slide-subcondition {
    font-family: "Century Gothic", "Poiret One";
    font-size: 34px;
    color: #2b2a28;
}

.slide-time {
    font-family: "Century Gothic", "Poiret One";
    font-size: 40.5px;
    color: #2b2a28;
}

.slide-subtime {
    font-family: "Century Gothic", "Poiret One";
    font-size: 35px;
    color: #2b2a28;
}

.slide-comment {
    font-family: "Poiret One";
    font-size: 15px;
    color: #a0a0a0;
}

del {
    color: red;
}