<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8">
    <title>КИОТО | суши маркет</title>
    <link rel="image_src" href="http://sushimarket-kioto.com/img/vk_logo.jpg">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>


    <link href='http://fonts.googleapis.com/css?family=News+Cycle' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Poiret+One&subset=cyrillic' rel='stylesheet' type='text/css'>

    <script type="text/javascript" src="/js/vendor/angular.min.js"></script>
    <script type="text/javascript" src="/js/vendor/angular-resource.js"></script>
    <script type="text/javascript" src="/js/lib/ng-tags-input.min/ng-tags-input.min.js"></script>
    <script type="text/javascript" src="/js/lib/masks.min.js"></script>
    <script type="text/javascript" src="/js/dc-app/dc-user/controller.js"></script>
    <script type="text/javascript" src="/js/dc-app/dc-user/service.js"></script>
    <script type="text/javascript" src="/js/dc-app/dc-services/controller.js"></script>
    <script type="text/javascript" src="/js/dc-app/components.js"></script>
    <script type="text/javascript" src="/js/dc-app/app.js"></script>

    <link rel="shortcut icon" href="/img/favicon (1).ico">
    <!-- Using only with Flat-UI (free)-->
    <link rel="stylesheet" href="/common-files/css/icon-font.css">
    <!-- end -->
    <link rel="stylesheet" href="/common-files/css/animations.css">

    <!-- If you don't use any of these blocks just remove unnecessary CSS files -->
    <!-- contacts -->
    <link rel="stylesheet" href="/ui-kit/ui-kit-contacts/css/style.css">
    <!-- content -->
    <link rel="stylesheet" href="/ui-kit/ui-kit-content/css/style.css">
    <!-- crew -->
    <!-- header -->
    <link rel="stylesheet" href="/ui-kit/ui-kit-header/css/style.css">
    <!-- projects -->
    <link rel="stylesheet" href="/ui-kit/ui-kit-projects/css/style.css">

    <link rel="stylesheet" href="/flat-ui/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/flat-ui/css/flat-ui.css">
    <!-- custom -->
    <link rel="stylesheet" href="/css/style.css">


</head>
<body ng-controller="mainOrder">
<div class="page-wrapper">
    <!-- header-10 -->
    <header class="header-10">
        <div class="container">
            <div class="row">
                <div class="navbar navbar-fixed-top col-sm-12" role="navigation">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle"></button>

                        <p style="padding-top: 5px; text-align: center; font-size: 16px;"
                           class="nomargin visible-xs visible-sm"><span class="fui-phone"
                                                                        style="padding-right: 15px"></span> <b>+7 (3813)
                            342
                            999</b></p>
                    </div>
                    <div class="collapse navbar-collapse pull-right">
                        <ul class="nav pull-left">
                            <li>
                                <a href="#top">ГЛАВНАЯ</a>
                            </li>
                            <li>
                                <a href="#rolls">РОЛЛЫ</a>
                            </li>
                            <li>
                                <a href="#sales">АКЦИИ И СКИДКИ</a>
                            </li>
                            <li>
                                <a href="#places">ТОЧКИ ПРОДАЖ</a>
                            </li>
                            <li>
                                <button class="btn btn-sm btn-basket" data-toggle="modal" data-target="#basketModal">
                                    КОРЗИНА
                                    <span class="btn-tip" ng-show="order.sum > 0">{{order.sum}} руб</span>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <div class="header-background"></div>
    </header>

    <section class="v-center visible-lg visible-md row" style="height: 100px; background-color: #ededed;">
        <div class="col-xs-3 parallelogram logo">
            <img src="/img/logo512.png" style="height: 130px; margin-top: -15px;">
        </div>
        <div class="col-xs-9 delivery v-center">
            <p class="delivery-phone">ДОСТАВКА 342-999</p>

            <p class="delivery-message nospaces">Прием закзов с 10:00 до 20:45. Минимальный заказ 500 рублей.</p>
        </div>

    </section>

    <section class="header-10-sub v-center nospaces">
        <div class="background">
            &nbsp;
        </div>

        <div class="banner full nospaces">
            <ul class="full nospaces">
                <li class="s1 full nospaces">This is a slide.</li>
                <li class="s2 full nospaces">This is another slide.</li>
                <li class="s2 full nospaces">This is a final slide.</li>
            </ul>
        </div>

    </section>

    <section class="projects-4">
        <div class="container" id="rolls" ng-show="products.length > 0">
            <div class="row">
                <div class="col-xs-12">
                    <a href="#rolls">
                        <h3 class="head3">Роллы</h3></a>
                    <hr class="h3_hr">
                    <hr class="h3_hr_hr">
                </div>
            </div>

            <div class="projects row features">
                <div class="project-wrapper col-sm-3" ng-repeat="p in products | limitTo: 4">
                    <div class="project">
                        <div class="photo-wrapper">
                            <img src="/img/products/{{ p.img }}" alt="">
                        </div>
                        <div class="info">
                            <p href="#" class="name">{{ p.name }}</p>

                            <div class="row" style="font-size: 14px; color: rgba(126, 140, 141, 1);">
                                <div class="col-xs-6">
                                    1шт ({{p.weight}}г) / {{p.cost}}р.
                                </div>
                                <div class="col-xs-6" ng-show="p.type == 'roll'">
                                    8шт ({{p.weight * 8}}г) / {{p.cost * 8}}р.
                                </div>
                            </div>
                            {{ p.composition }}
                        </div>

                        <div class="row count">
                            <div class="col-xs-3 col-xs-offset-1">
                                <button class="btn del-prod" ng-click="dropOne(p)">
                                    <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                                </button>
                            </div>
                            <div class="col-xs-4">
                                <input type="text" placeholder="" class="form-control flat text-center"
                                       ng-model="p.count" ng-change="validateCount(p)"/>
                            </div>
                            <div class="col-xs-3">
                                <button class="btn add-prod" ng-click="addOne(p)">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <button class="btn btn-default btn-success to-basket" ng-click="addToOrder(p)">
                                    В корзину
                                    <span class="btn-tip">(+{{p.cost * p.count}})</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="projects-4">
        <div class="container" id="roll_combos" ng-show="products.length > 0">
            <div class="row">
                <div class="col-xs-12">
                    <a href="#rolls">
                        <h3 class="head3">Наборы</h3></a>
                    <hr class="h3_hr">
                    <hr class="h3_hr_hr">
                </div>
            </div>

            <div class="projects row features">
                <div class="project-wrapper col-sm-3" ng-repeat="p in products | limitTo: 4: 8">
                    <div class="project">
                        <div class="photo-wrapper">
                            <img src="/img/products/{{ p.img }}" alt="">
                        </div>
                        <div class="info">
                            <p href="#" class="name">{{ p.name }}</p>

                            <div class="row" style="font-size: 14px; color: rgba(126, 140, 141, 1);">
                                <div class="col-xs-6">
                                    1шт ({{p.weight}}г) / {{p.cost}}р.
                                </div>
                                <div class="col-xs-6" ng-show="p.type == 'roll'">
                                    8шт ({{p.weight * 8}}г) / {{p.cost * 8}}р.
                                </div>
                            </div>
                            {{ p.composition }}
                        </div>

                        <div class="row count">
                            <div class="col-xs-3 col-xs-offset-1">
                                <button class="btn del-prod" ng-click="dropOne(p)">
                                    <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                                </button>
                            </div>
                            <div class="col-xs-4">
                                <input type="text" placeholder="" class="form-control flat text-center"
                                       ng-model="p.count" ng-change="validateCount(p)"/>
                            </div>
                            <div class="col-xs-3">
                                <button class="btn add-prod" ng-click="addOne(p)">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <button class="btn btn-default btn-success to-basket" ng-click="addToOrder(p)">
                                    В корзину
                                    <span class="btn-tip">(+{{p.cost * p.count}})</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="content-26 bg-clouds nopadding row" id="sales">
        <div class="col-sm-7 sales-left nopadding parallelogram sale">
            <div class="full">
                <div class="vertical-center">
                    <h1 class="red">АКЦИЯ</h1>

                    <h3 style="color: #ffffff;">ПРИ ПОКУПКЕ НА СУММУ</h3>

                    <h1 style="color: #ffffff;">от 600 рублей</h1>

                    <h3 style="color: #ffffff;">порция роллов (8 шт) в подарок*</h3>
                </div>
            </div>
        </div>
        <div class="col-sm-5 nopadding sale">
            <div class="full">
                <div class="vertical-center">
                    <h1 class="red">СКИДКА</h1>

                    <h1 style="font-size: 100px; color: #1b1f23;">30%</h1>

                    <p style="color: #1b1f23; font-size: 40px;" class="nopadding nomargin">на готовые блюда</p>

                    <p style="font-size: 20px; color: rgba(126, 140, 141, 1);">за 30 минут до закрытия</p>
                    <span>* Акции и скидки распространяются только на торговые точки. Подробности уточняйте у продавцов</span>
                </div>
            </div>
        </div>

    </section>

    <section class="content-21 bg-midnight-blue">
        <div class="container">
            <h3>We love what we do</h3>

            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="features features-tabs">
                        <div class="features-header">
                            <div class="box active">
                                <div class="fui-cmd"></div>
                                ALIGNED TO GRID
                            </div>
                            <div class="box">
                                <div class="fui-mic"></div>
                                AVAILABLE FOR REC
                            </div>
                            <div class="box">
                                <div class="fui-user"></div>
                                MANY USERS
                            </div>
                        </div>
                        <div class="features-bodies">
                            <div class="features-body active">
                                <h6>Aligned to grid</h6>

                                <p>We have considered your needs in developing the html version of our UI Kit,
                                    which contains the same elements as the PSD version and are perfect for creating
                                    great
                                    websites.
                                </p>

                                <p>With this UI Kit, you can spend even less time on routine work, saving that time for
                                    creativity.</p>
                            </div>
                            <div class="features-body">
                                <h6>Available for rec</h6>

                                <p>With this UI Kit, you can spend even less time on routine work, saving that time for
                                    creativity.</p>

                                <p>We have considered your needs in developing the html version of our UI Kit,
                                    which contains the same elements as the PSD version and are perfect for creating
                                    great
                                    websites.
                                </p>
                            </div>
                            <div class="features-body">
                                <h6>Many users</h6>

                                <p>We have considered your needs in developing the html version of our UI Kit,
                                    which contains the same elements as the PSD version and are perfect for creating
                                    great
                                    websites.
                                </p>

                                <p>With this UI Kit, you can spend even less time on routine work, saving that time for
                                    creativity.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="contacts-5" id="places">
        <div class="container">
            <a href="#places">
                <h3 class="head3">Точки продаж</h3></a>
            <hr class="h3_hr">
            <hr class="h3_hr_hr">

            <div class="row">
                <div class="col-sm-2" ng-repeat="s in shops">
                    <div class="box">
                        <h6 style="font-size: 20px;">{{s.name}}</h6>

                        <p style="font-size: 13px">{{s.address}}
                            <br/>Режим работы: {{s.workFrom}}:00 - {{s.workTo}}:00
                            <br/>Тел.: {{s.phone}} </p>
                    </div>
                </div>

            </div>
        </div>
        <div class="map" id="map">
            <!--map-->
        </div>
    </section>

</div>

<div class="modal" id="basketModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
     data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close fui-cross" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title" id="myModalLabel">Содержимое корзины</h4>
            </div>
            <div class="modal-body">
                <!-- if products in basket -->
                <div ng-show="order.products.length > 0">
                    <div ng-repeat="item in order.products">
                        <div class="row basket-row">
                            <div class="col-sm-2">
                                <img src="/img/products/{{item.img}}" alt="" width="130px">
                            </div>
                            <div class="col-xs-4 basket-col">
                                {{item.name}}
                            </div>
                            <div class="col-xs-2 basket-col-count">
                                <div class="row count">
                                    <div class="col-xs-1 nopadding">
                                        <button class="btn btn-sm del-prod basket-btn" ng-click="dropOneOrder(item)">
                                            <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                                        </button>
                                    </div>
                                    <div class="col-xs-10">
                                        <input type="text" placeholder="" class="form-control input-sm flat text-center"
                                               ng-model="item.count" ng-change="validateCount(item)"/>
                                    </div>
                                    <div class="col-xs-1 nopadding">
                                        <button class="btn btn-sm add-prod basket-btn" ng-click="addOneOrder(item)">
                                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-2 basket-col">
                                {{item.count * item.weight}}
                            </div>
                            <div class="col-xs-2 basket-col">
                                {{item.count * item.cost}}
                            </div>

                        </div>
                        <hr>
                    </div>
                    <div class="row">
                        <div class="col-xs-2 col-xs-offset-4">
                            Итого
                        </div>
                        <div class="col-xs-2">
                            <div class="row count">
                                <div class="col-xs-10 col-xs-offset-1 basket-count-sum">
                                    {{order.count}} шт.
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-2" style="text-align: center;">
                            {{order.weight}} г
                        </div>
                        <div class="col-xs-2" style="text-align: center;">
                            {{order.sum}} руб.
                        </div>

                    </div>
                    <span class="label label-default">Бесплатная доставка при заказе на сумму от 500 рублей</span>
                </div>
                <div ng-show="order.products.length === 0">
                    <div class="row" style="height: 200px">
                        <div class="col-sm-6 v-center text-center">
                            <img src="/flat-ui/images/icons/clipboard.svg" alt="" width="50%">
                        </div>
                        <div class="col-sm-5 v-center text-center">
                            <h6 class="v-center">Ваша карзина пуста.</h6>

                            <p>Пожалуйста, выберите роллы для заказа.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-dismiss="modal"
                        data-target="#orderModal" ng-click="checkSum()"
                        ng-class="{disabled: order.products.length === 0}">
                    Оформить заказ
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="orderModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
     data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close fui-cross" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title" id="myModalLabel">Содержимое корзины</h4>
            </div>
            <div class="modal-body">

                <h4 style="text-align: center">В настоящий момент заказ онлайн находится в разработке, пожалуйста совершите заказ по телефону:</h4><br/><h1 style="text-align: center"> +7 (3812) 342 999</h1></p>

                <!--<div class="tabbable">-->
                <!--<ul class="nav nav-tabs nav-append-content">-->
                <!--<li ng-class="{active: order.type == 'selfExport'}">-->
                <!--<a ng-click="setDeliveryType('selfExport')">Самовывоз</a>-->
                <!--</li>-->
                <!--<li ng-class="{active: order.type == 'delivery', disabled: order.sum < 500}">-->
                <!--<a ng-click="setDeliveryType('delivery')">Доставка</a>-->
                <!--</li>-->
                <!--</ul>-->
                <!--&lt;!&ndash; /tabs &ndash;&gt;-->
                <!--<div class="tab-content">-->
                <!--<div class="tab-pane" ng-class="{active: order.type == 'selfExport'}">-->
                <!--<div class="row">-->
                <!--<div class="col-xs-7">-->
                <!--<p>Точка продаж</p>-->

                <!--<div class="btn-group select select-block mbl">-->
                <!--<button class="btn dropdown-toggle clearfix btn-default btn-primary"-->
                <!--data-toggle="dropdown">-->
                <!--<span class="filter-option pull-left">{{select.current.name}} | {{select.current.address}}</span>&nbsp;-->
                <!--<span class="caret"></span>-->
                <!--</button>-->
                <!--<span class="dropdown-arrow dropdown-arrow-inverse"></span>-->
                <!--<ul class="dropdown-menu dropdown-inverse" role="menu">-->
                <!--<li class="selected" ng-repeat="shop in shops"-->
                <!--ng-class="{selected: shop.selected}">-->
                <!--<a tabindex="-1" class="opt " ng-click="selectShop(shop)">-->
                <!--<span class="pull-left">{{shop.name}} | {{shop.address}}</span>-->
                <!--</a>-->
                <!--</li>-->
                <!--</ul>-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="col-xs-5">-->
                <!--<p>Время</p>-->

                <!--<input type="text" id="spinner-01" value="0"-->
                <!--class="form-control &lt;!&ndash;input-lg&ndash;&gt; spinner" style="width: 100%;/* margin-top: -2px*/"/>-->
                <!--</div>-->
                <!--</div>-->

                <!--<p>Обращение</p>-->
                <!--<input type="text" placeholder="Фамилия и Имя" class="form-control"-->
                <!--ng-model="order.client.name"/>-->

                <!--<p>Номер мобильного</p>-->
                <!--<input type="text" placeholder="7 (ххх) ххх хххх" class="form-control"-->
                <!--ng-model="order.client.phone"/>-->

                <!--<div class="row" ng-show="order.sum < 500">-->
                <!--<div class="col-xs-12">-->
                <!--<span class="label label-danger pull-left v-center" style="margin-top: 3px;">-->
                <!--Бесплатная доставка при заказе на сумму от 500 рублей-->
                <!--</span>-->

                <!--<button type="button" class="btn btn-success btn-xs pull-right v-center"-->
                <!--data-dismiss="modal"-->
                <!--onclick="scrollToId('#rolls')">-->
                <!--выбрать ещё-->
                <!--</button>-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="row" ng-show="order.sum > 500">-->
                <!--<div class="col-xs-12">-->
                <!--<span class="label label-primary" ng-show="order.sum > 500">Вы можете воспользоваться бесплатной доставкой</span>-->
                <!--</div>-->
                <!--</div>-->


                <!--</div>-->
                <!--<div class="tab-pane" ng-class="{active: order.type == 'delivery'}">-->
                <!--<p>Обращение</p>-->
                <!--<input type="text" placeholder="Фамилия и Имя" class="form-control"-->
                <!--ng-model="order.client.name"/>-->

                <!--<p>Номер мобильного</p>-->
                <!--<input type="text" placeholder="7 (ххх) ххх хххх" class="form-control"-->
                <!--ng-model="order.client.phone"/>-->

                <!--<p>Улица</p>-->
                <!--<input type="text" placeholder="ул. Мира" class="form-control"-->
                <!--ng-model="order.delivery.address.street"/>-->

                <!--<div class="row">-->
                <!--<div class="col-sm-4">-->
                <!--<p>Номер дома</p>-->
                <!--<input type="text" placeholder="ххх" class="form-control"-->
                <!--ng-model="order.delivery.address.house"/>-->
                <!--</div>-->
                <!--<div class="col-sm-4">-->
                <!--<p>Подъезд</p>-->
                <!--<input type="text" placeholder="ххх" class="form-control"-->
                <!--ng-model="order.delivery.address.porch"/>-->
                <!--</div>-->
                <!--<div class="col-sm-4">-->
                <!--<p>Квартира</p>-->
                <!--<input type="text" placeholder="ххх" class="form-control"-->
                <!--ng-model="order.delivery.address.flat"/>-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="row">-->
                <!--<div class="col-sm-4">-->
                <!--<p>Строение</p>-->
                <!--<input type="text" placeholder="ххх" class="form-control"-->
                <!--ng-model="order.delivery.address.building"/>-->
                <!--</div>-->
                <!--<div class="col-sm-4">-->
                <!--<p>Этаж</p>-->
                <!--<input type="text" placeholder="ххх" class="form-control"-->
                <!--ng-model="order.delivery.address.floor"/>-->
                <!--</div>-->
                <!--<div class="col-sm-4">-->
                <!--<p>Домофон</p>-->
                <!--<input type="text" placeholder="ххх" class="form-control"-->
                <!--ng-model="order.delivery.address.doorphone"/>-->
                <!--</div>-->
                <!--</div>-->


                <!--<span class="label label-primary" ng-show="order.sum > 500">Доставим бесплатно!</span>-->
                <!--</div>-->
                <!--</div>-->
                <!--&lt;!&ndash; /tab-content &ndash;&gt;-->
                <!--</div>-->

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" data-toggle="modal"
                        data-target="#basketModal">Назад
                </button>
                <!--<button type="button" class="btn btn-primary" ng-click="saveOrder()">Заказать</button>-->
            </div>
        </div>
    </div>
</div>

<!-- Placed at the end of the document so the pages load faster -->
<script src="/common-files/js/jquery-1.10.2.min.js"></script>
<script src="/flat-ui/js/jquery-ui-1.10.3.custom.min.js"></script>
<script src="/flat-ui/js/jquery.ui.touch-punch.min.js"></script>
<script src="/flat-ui/js/bootstrap.min.js"></script>
<script src="/js/lib/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
<script src="/common-files/js/modernizr.custom.js"></script>
<script src="/common-files/js/page-transitions.js"></script>
<script src="/common-files/js/startup-kit.js"></script>

<script src="/js/lib/moment-loc.js"></script>
<script src="/js/lib/jquery.event.move.js"></script>
<script src="/js/lib/jquery.event.swipe.js"></script>
<script src="/js/lib/unslider.min.js"></script>
<script src="/js/script.js"></script>

<script>
    moment.locale('ru');
    var resizeFullHeightBlocks = function () {
        var h = $(window).height() - $('.header-10').height();
        $('.header-10-sub').height(h);
        h = $(window).height() - $('.header-10').height();
        $('.sale').height(h);
    };
    resizeFullHeightBlocks();
    $(window).resize(resizeFullHeightBlocks);
</script>


<script>
    function scrollToId(id) {
        var target = $(id);
        target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
        if (target.length) {
            var o = $('.header-10').height();
            $('html,body').animate({
                scrollTop: target.offset().top - o
            }, 1000);
            return false;
        }
    }


    $(function () {

        $('.banner').unslider({
            width: 100,
            speed: 500,               //  The speed to animate each slide (in milliseconds)
            delay: 5000,              //  The delay between slide animations (in milliseconds)
            keys: true,               //  Enable keyboard (left, right) arrow shortcuts
            dots: true,               //  Display dot navigation
            fluid: true              //  Support responsive design. May break non-responsive designs
        });

        $('#spinner-01').timespinner()
                .on('focus', function () {
                    $(this).closest('.ui-spinner').addClass('focus');
                })
                .on('blur', function () {
                    $(this).closest('.ui-spinner').removeClass('focus');
                });

        var t = moment().format("HH:mm");
        $('#spinner-01').timespinner("value", t);

        $("select[name='huge']").selectpicker({style: 'btn-default btn-primary', menuStyle: 'dropdown-inverse'});

        $('a[href*=#]:not([href=#])').click(function () {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    var o = $('.header-10').height();
                    $('html,body').animate({
                        scrollTop: target.offset().top - o
                    }, 1000);
                    return false;
                }
            }
        });
    });
</script>


<!-- Google maps -->
<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBzoO6cs_VSmWouRHArHwPWb_cpH6p4bZU&sensor=false"></script>
<script type="text/javascript">
    // When the window has finished loading create our google map below
    google.maps.event.addDomListener(window, 'load', init);

    function init() {
        var mapOptions = {
            zoom: 11,
            scrollwheel: false,
            navigationControl: false,
            mapTypeControl: false,
            scaleControl: false,
            draggable: false,
            disableDefaultUI: true,

            center: new google.maps.LatLng(54.9796763, 73.3480165), // Omsk

            styles: [{
                "featureType": "all",
                "elementType": "labels.text.fill",
                "stylers": [{"saturation": 36}, {"color": "#000000"}, {"lightness": 40}]
            }, {
                "featureType": "all",
                "elementType": "labels.text.stroke",
                "stylers": [{"visibility": "on"}, {"color": "#000000"}, {"lightness": 16}]
            }, {
                "featureType": "all",
                "elementType": "labels.icon",
                "stylers": [{"visibility": "off"}]
            }, {
                "featureType": "administrative",
                "elementType": "geometry.fill",
                "stylers": [{"color": "#000000"}, {"lightness": 20}]
            }, {
                "featureType": "administrative",
                "elementType": "geometry.stroke",
                "stylers": [{"color": "#000000"}, {"lightness": 17}, {"weight": 1.2}]
            }, {
                "featureType": "landscape",
                "elementType": "geometry",
                "stylers": [{"color": "#000000"}, {"lightness": 20}]
            }, {
                "featureType": "poi",
                "elementType": "geometry",
                "stylers": [{"color": "#000000"}, {"lightness": 21}]
            }, {
                "featureType": "road.highway",
                "elementType": "geometry.fill",
                "stylers": [{"color": "#000000"}, {"lightness": 17}]
            }, {
                "featureType": "road.highway",
                "elementType": "geometry.stroke",
                "stylers": [{"color": "#000000"}, {"lightness": 29}, {"weight": 0.2}]
            }, {
                "featureType": "road.arterial",
                "elementType": "geometry",
                "stylers": [{"color": "#000000"}, {"lightness": 18}]
            }, {
                "featureType": "road.local",
                "elementType": "geometry",
                "stylers": [{"color": "#000000"}, {"lightness": 16}]
            }, {
                "featureType": "transit",
                "elementType": "geometry",
                "stylers": [{"color": "#000000"}, {"lightness": 19}]
            }, {
                "featureType": "water",
                "elementType": "geometry",
                "stylers": [{"color": "#000000"}, {"lightness": 17}]
            }]
        };

        var mapElement = document.getElementById('map');

        var map = new google.maps.Map(mapElement, mapOptions);

        var marker = new google.maps.Marker({
            position: new google.maps.LatLng(40.6700, -73.9400),
            map: map,
            title: 'Snazzy!'
        });
    }
</script>
<!-- /Google maps -->

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function () {
            try {
                w.yaCounter28179882 = new Ya.Metrika({
                    id: 28179882,
                    webvisor: true,
                    trackHash: true
                });
            } catch (e) {
            }
        });

        var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () {
                    n.parentNode.insertBefore(s, n);
                };
        s.type = "text/javascript";
        s.async = true;
        s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else {
            f();
        }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript>
    <div><img src="//mc.yandex.ru/watch/28179882" style="position:absolute; left:-9999px;" alt=""/></div>
</noscript>
<!-- /Yandex.Metrika counter -->
</body>
</html>