.dropdown-arrow-inverse {
  border-bottom-color: #34495e !important;
  border-top-color: #34495e !important;
}
/* styles from flat-ui-free2.0.0-fix.less files */
body {
  color: #34495e;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.231;
}
input,
button,
select,
textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}
a {
  color: #16a085;
  text-decoration: none;
  -webkit-transition: color 0.25s, background 0.25s;
  -moz-transition: color 0.25s, background 0.25s;
  -o-transition: color 0.25s, background 0.25s;
  transition: color 0.25s, background 0.25s;
}
a:hover {
  color: #1abc9c;
  text-decoration: none;
}
h1,
.h1 {
  font-size: 48px /* 64px */;
}
h2,
.h2 {
  font-size: 41px /* 52px */;
}
h3,
.h3 {
  font-size: 32px /* 40px */;
}
h4,
.h4 {
  font-size: 23px /* 29px */;
}
h5,
.h5 {
  font-size: 21px /* 28px */;
}
h6,
.h6 {
  font-size: 19px /* 24px */;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  line-height: 1.2em;
}
h1 {
  font-weight: 700;
}
h2 {
  font-weight: 700;
  margin-bottom: 2px;
}
h3 {
  font-weight: 700;
  margin-bottom: 4px;
  margin-top: 2px;
}
h4 {
  font-weight: 500;
  margin-top: 4px;
}
h5 {
  font-weight: 500;
}
h6 {
  font-weight: normal;
}
p {
  font-size: 18.004px;
  /* 18px */

  line-height: 1.722169;
  /* 31px */

}
.lead {
  font-size: 28px;
  /* 28px */

  line-height: 1.4642745000000001;
  /* 41px */

  font-weight: 300;
  margin-bottom: 20px;
}
small {
  font-size: 84%;
  /* 15px */

  line-height: 2.050846;
  /* 31px */

}
blockquote {
  position: relative;
  border-left: none;
  padding-left: 19px;
}
blockquote p {
  font-size: 20.006px;
  line-height: 1.549829;
  font-weight: normal;
  margin-bottom: .4em;
}
blockquote small {
  font-size: 18.004px;
  line-height: 1.722169;
  font-style: italic;
  color: #34495e;
}
blockquote small:before {
  content: "";
}
blockquote:before {
  position: absolute;
  left: 0;
  width: 3px;
  height: 100%;
  top: 0;
  bottom: 0;
  background-color: #ebedee;
  content: "";
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.img-rounded {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.img-comment {
  font-size: 14.994px;
  line-height: 1.231;
  font-style: italic;
  margin: 24px 0;
}
.text-primary {
  color: #1abc9c;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #15967d;
}
.text-success {
  color: #2ecc71;
}
a.text-success:hover,
a.text-success:focus {
  color: #25a35a;
}
.text-danger {
  color: #e74c3c;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #b93d30;
}
.text-warning {
  color: #f1c40f;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #c19d0c;
}
.text-info {
  color: #3498db;
}
a.text-info:hover,
a.text-info:focus {
  color: #2a7aaf;
}
.text-inverse {
  color: #ffffff;
}
a.text-inverse:hover,
a.text-inverse:focus {
  color: #cccccc;
}
.muted {
  color: #bdc3c7;
}
a.muted:hover,
a.muted:focus {
  color: #979c9f;
}
footer {
  background-color: transparent;
}
.input-append input {
  -webkit-border-radius: 6px 0 0 6px;
  -moz-border-radius: 6px 0 0 6px;
  border-radius: 6px 0 0 6px;
}
.bg-white {
  background-color: #ffffff;
}
.bg-black {
  background-color: #000000;
}
.bg-turquoise {
  background-color: #1abc9c;
}
.bg-green-sea {
  background-color: #16a085;
}
.bg-emerland {
  background-color: #2ecc71;
}
.bg-nephritis {
  background-color: #27ae60;
}
.bg-peter-river {
  background-color: #3498db;
}
.bg-belize-hole {
  background-color: #2980b9;
}
.bg-amethyst {
  background-color: #9b59b6;
}
.bg-wisteria {
  background-color: #8e44ad;
}
.bg-wet-asphalt {
  background-color: #34495e;
}
.bg-midnight-blue {
  background-color: #2c3e50;
}
.bg-sun-flower {
  background-color: #f1c40f;
}
.bg-orange {
  background-color: #f39c12;
}
.bg-carrot {
  background-color: #e67e22;
}
.bg-pumpkin {
  background-color: #d35400;
}
.bg-alizarin {
  background-color: #e74c3c;
}
.bg-pomegranate {
  background-color: #c0392b;
}
.bg-clouds {
  background-color: #ecf0f1;
}
.bg-silver {
  background-color: #bdc3c7;
}
.bg-concrete {
  background-color: #95a5a6;
}
.bg-asbestos {
  background-color: #7f8c8d;
}
.bg-base {
  background-color: #34495e;
}
.bg-firm {
  background-color: #1abc9c;
}
.bg-success {
  background-color: #2ecc71;
}
.bg-danger {
  background-color: #e74c3c;
}
.bg-warning {
  background-color: #f1c40f;
}
.bg-info {
  background-color: #3498db;
}
.bordered {
  border-style: solid;
}
.bordered.bg-turquoise {
  border-color: #16a085;
}
.bordered.bg-emerland {
  border-color: #27ae60;
}
.bordered.bg-peter-river {
  border-color: #2980b9;
}
.bordered.bg-amethyst {
  border-color: #8e44ad;
}
.bordered.bg-wet-asphalt {
  border-color: #2c3e50;
}
.bordered.bg-sun-flower {
  border-color: #f39c12;
}
.bordered.bg-carrot {
  border-color: #d35400;
}
.bordered.bg-alizarin {
  border-color: #c0392b;
}
.bordered.bg-clouds {
  border-color: #bdc3c7;
}
.bordered.bg-concrete {
  border-color: #7f8c8d;
}
html,
body {
  height: 100%;
}
body {
  overflow-x: hidden;
  color: #7f8c8d;
  line-height: 1.29;
}
@media (max-width: 767px) {
  body {
    padding-right: 0;
    padding-left: 0;
  }
}
li {
  line-height: 20px;
}
.btn {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  line-height: 22px;
  -webkit-transition: color 0.25s, background 0.25s;
  -moz-transition: color 0.25s, background 0.25s;
  -o-transition: color 0.25s, background 0.25s;
  transition: color 0.25s, background 0.25s;
}
.btn.btn-large {
  font-size: 17px;
  padding: 12px 18px;
}
.btn > [class^="fui-"] {
  margin-left: 4px;
  margin-right: 4px;
  line-height: inherit;
  display: inline-block;
  vertical-align: top;
}
.input-group-btn .btn {
  background: #bdc3c7;
  line-height: 9px 12px 10px;
  line-height: 22px;
  border: 0;
  margin: 0;
  color: #fff;
  margin-left: 0 !important;
  padding-left: 10px;
  padding-right: 12px;
}
.input-group-btn .btn:hover {
  background: #cacfd2;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  outline: none;
}
.form-group {
  margin-bottom: 10px;
}
label {
  line-height: 20px;
}
.carousel {
  line-height: 1;
}
.hero-unit h1 {
  margin-bottom: 0;
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
  color: inherit;
}
h4,
h5,
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}
p {
  margin-bottom: 10px;
}
.page-wrapper {
  position: relative;
  z-index: 2;
  background: #fff;
  overflow: hidden;
  min-height: 100%;
}
.header-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.loaded .page-wrapper,
.loaded .header-antiflicker,
.loaded body > header .header-background {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -moz-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -o-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
}
.loaded.nav-visible .page-wrapper,
.loaded.nav-visible .navbar.navbar-fixed-top,
.loaded.nav-visible .header-antiflicker,
.loaded.nav-visible body > header .header-background {
  -webkit-transform: translate3d(-230px, 0, 0);
  -moz-transform: translate3d(-230px, 0, 0);
  -o-transform: translate3d(-230px, 0, 0);
  transform: translate3d(-230px, 0, 0);
}
.loaded.no-csstransitions .page-wrapper,
.loaded.no-csstransitions .header-antiflicker {
  left: 0;
}
.loaded.no-csstransitions.nav-visible .page-wrapper,
.loaded.no-csstransitions.nav-visible .navbar.navbar-fixed-top,
.loaded.no-csstransitions.nav-visible .header-antiflicker {
  left: -230px !important;
  right: auto;
}
.carousel-indicators {
  width: 100%;
}
[class^="fui-"] {
  display: inline-block;
  vertical-align: middle;
}
body > section,
header,
footer {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 767px) {
  body > section,
  header,
  footer {
    padding-right: 5px;
    padding-left: 5px;
  }
}
img {
  width: auto\9;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #2c3e50;
}
h1 {
  font-weight: normal;
}
h3 {
  font-weight: normal;
}
img {
  -webkit-backface-visibility: hidden;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #7f8c8d;
}
a:hover,
button:hover,
a:focus,
button:focus,
a:active,
button:active {
  outline: none;
}
#bgVideo {
  overflow: hidden;
}
#bgVideo > video {
  position: absolute !important;
}
.delimiter {
  margin-top: 200px;
}
.delimiter.line {
  margin-top: 150px;
  margin-bottom: 150px;
  border-top: 2px solid #ebedee;
}
header {
  padding-top: 100px;
  padding-bottom: 70px;
  z-index: 100;
}
header .brand {
  font-size: 25px;
  font-weight: normal;
  color: #34495e;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 800;
  letter-spacing: -1px;
  color: #2c3e50;
}
header .brand img:first-child {
  float: left;
  margin: -10px 15px 0 0;
}
section * {
  z-index: 2;
}
.background {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: 50% 50% no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 20;
  filter: alpha(opacity=2000);
  opacity: 0.2;
  filter: alpha(opacity=20);
}
.container {
  position: relative;
  z-index: 2;
}
@media (max-width: 767px) {
  header {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
.projects-* .pt-perspective {
  position: relative;
  height: 100%;
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  perspective: 1200px;
}
.projects-* .pt-page {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.projects-* .pt-page-current,
.projects-* .no-js .pt-page {
  visibility: visible;
  z-index: 1;
}
.projects-* .pt-page-ontop {
  z-index: 999;
}
.projects-* .v-center {
  display: table;
  width: 100%;
}
.projects-* .v-center > * {
  display: table-cell;
  vertical-align: middle;
  margin: 0;
  float: none;
}
@media (max-width: 767px) {
  .projects-* .v-center.row {
    display: block;
    width: auto;
  }
  .projects-* .v-center.row > * {
    display: block;
    vertical-align: baseline;
  }
}
/**
 * Project 1 stylesheet  
 * */
.projects-1 {
  padding-top: 110px;
  padding-bottom: 110px;
}
.projects-1 .title {
  margin: 0 0 50px;
  line-height: 1.5;
}
.projects-1 .title a {
  color: #bdc3c7;
  font-size: 13px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-right: 25px;
}
.projects-1 .title a:hover,
.projects-1 .title a:focus,
.projects-1 .title a.active {
  color: #1abc9c;
}
.projects-1 .head-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 55px 60px 20px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  overflow: hidden;
  color: #95a5a6;
  min-height: 330px;
  position: relative;
}
.projects-1 .head-box:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #ebedee url('../../../common-files/img/header/ipad@2x.png') 100% 50% no-repeat;
  -webkit-background-size: 826px 772px;
  -moz-background-size: 826px 772px;
  -o-background-size: 826px 772px;
  background-size: 826px 772px;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}
@media (max-width: 700px) {
  .projects-1 .head-box:before {
    opacity: 20;
    filter: alpha(opacity=2000);
    opacity: 0.2;
    filter: alpha(opacity=20);
  }
}
.projects-1 .head-box > * {
  max-width: 270px;
  position: relative;
}
.projects-1 .head-box .brand {
  margin-bottom: 17px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 23px;
  color: #34495e;
}
.projects-1 .head-box .brand > img {
  margin-right: 12px;
  vertical-align: top;
  margin-top: 4px;
}
.projects-1 .head-box p {
  font-size: 16px;
}
.projects-1 .head-box .features {
  border-top: 2px solid rgba(189, 195, 199, 0.3);
  margin-top: 25px;
  padding-top: 25px;
  font-size: 18px;
  font-weight: bold;
  color: #1abc9c;
}
.projects-1 .head-box .features > * + * {
  margin-top: 10px;
}
.projects-1 .head-box .features [class*="fui-"] {
  font-size: 23px;
  font-weight: normal;
  vertical-align: middle;
  margin-right: 20px;
}
.projects-1 .projects {
  display: table;
  width: 100%;
  margin-top: 65px;
}
.projects-1 .projects + .projects {
  margin-top: 80px;
}
.projects-1 .projects .project-wrapper {
  display: table-cell;
}
.projects-1 .projects .project-wrapper:first-child + .project-wrapper {
  text-align: center;
}
.projects-1 .projects .project-wrapper:first-child + .project-wrapper + .project-wrapper {
  text-align: right;
}
.projects-1 .projects .project {
  width: 270px;
  display: inline-block;
}
.projects-1 .projects .photo-wrapper {
  width: 270px;
  height: 220px;
  position: relative;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  overflow: hidden;
  background-color: #ecf0f1;
  -webkit-transition: background-color 0.4s;
  -moz-transition: background-color 0.4s;
  -o-transition: background-color 0.4s;
  transition: background-color 0.4s;
}
.projects-1 .projects .photo {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  overflow: hidden;
  background: 50% 50% no-repeat;
  opacity: 30;
  filter: alpha(opacity=3000);
  opacity: 0.3;
  filter: alpha(opacity=30);
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
.projects-1 .projects .overlay {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  text-align: center;
  color: #fff;
  line-height: 220px;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
.projects-1 .projects .overlay [class*="fui-"] {
  font-size: 46px;
}
.projects-1 .projects .info {
  text-align: left;
  font-size: 14px;
  color: #95a5a6;
  margin-top: 39px;
  line-height: 1.4;
}
.projects-1 .projects .info b {
  color: #7f8c8d;
}
.projects-1 .projects .name {
  color: #1abc9c;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 14px;
}
.projects-1 .projects .project:hover .photo-wrapper {
  background-color: #1abc9c;
}
.projects-1 .projects .project:hover .photo {
  opacity: 40;
  filter: alpha(opacity=4000);
  opacity: 0.4;
  filter: alpha(opacity=40);
}
.projects-1 .projects .project:hover .overlay {
  opacity: 100;
  filter: alpha(opacity=10000);
  opacity: 1;
  filter: alpha(opacity=100);
}
@media (max-width: 991px) and (min-width: 768px) {
  .projects-1 .projects .project,
  .projects-1 .projects .photo-wrapper {
    width: 230px;
  }
}
@media (max-width: 767px) {
  .projects-1 .projects {
    display: block;
    width: auto;
  }
  .projects-1 .projects .project-wrapper {
    display: block;
    text-align: center!important;
  }
  .projects-1 .projects .project-wrapper + .project-wrapper {
    margin-top: 80px;
  }
}
/**
 * Project 2 stylesheet  
 * */
.projects-2 {
  background: #000;
  color: #fff;
}
.projects-2.v-center,
.projects-2 .v-center {
  display: table;
  width: 100%;
}
.projects-2.v-center > div,
.projects-2 .v-center > div {
  display: table-cell;
  vertical-align: middle;
  margin-top: 0;
  margin-bottom: 0;
  float: none;
}
@media (min-width: 768px) {
  .projects-2.v-center.row:before,
  .projects-2 .v-center.row:before,
  .projects-2.v-center.row:after,
  .projects-2 .v-center.row:after {
    display: none;
  }
}
@media (max-width: 767px) {
  .projects-2.v-center,
  .projects-2 .v-center {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 5px;
    padding-right: 5px;
  }
  .projects-2.v-center.row,
  .projects-2 .v-center.row {
    display: block;
    width: auto;
  }
  .projects-2.v-center.row:before,
  .projects-2 .v-center.row:before,
  .projects-2.v-center.row:after,
  .projects-2 .v-center.row:after {
    display: none;
  }
  .projects-2.v-center.row > *,
  .projects-2 .v-center.row > * {
    display: block;
    vertical-align: baseline;
  }
}
.projects-2 .content {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 13px;
}
.projects-2 .wide-text {
  letter-spacing: 0.5em;
  word-spacing: 0.5em;
  display: block;
  margin: 18px 0 0;
  font-size: 13px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  ffont-weight: 500;
}
@media (max-width: 480px) {
  .projects-2 .wide-text {
    letter-spacing: 0.25em;
    word-spacing: 0.25em;
  }
}
.projects-2 .hero-unit {
  display: table;
  border-collapse: collapse;
  padding: 0;
  margin: 0 auto;
  background: transparent;
}
.projects-2 .hero-unit > * {
  display: table-cell;
  vertical-align: middle;
  border: 8px solid #fff;
  padding: 28px 30px;
  text-align: left;
}
.projects-2 .hero-unit h1 {
  margin: 0;
  font-size: 46px;
  font-weight: 700;
}
.projects-2 .hero-unit p {
  margin: 0;
  font-size: 13px;
  font-weight: bold;
}
@media (max-width: 480px) {
  .projects-2 .hero-unit h1 {
    font-size: 30px;
  }
  .projects-2 .hero-unit p {
    display: none;
  }
}
.projects-2 > * {
  height: 215px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  background: 50% 50% no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-transition: 0.6s opacity;
  -moz-transition: 0.6s opacity;
  -o-transition: 0.6s opacity;
  transition: 0.6s opacity;
  opacity: 15;
  filter: alpha(opacity=1500);
  opacity: 0.15;
  filter: alpha(opacity=15);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.projects-2 > *:hover {
  opacity: 100;
  filter: alpha(opacity=10000);
  opacity: 1;
  filter: alpha(opacity=100);
}
@media (max-width: 767px) {
  .projects-2 > * {
    padding-right: 20px;
    padding-left: 20px;
  }
}
.projects-2 .project-1 {
  background-image: url('../../../common-files/img/Hawaii_001.jpg');
}
.projects-2 .project-1 .container h1 {
  font-size: 50px;
  font-weight: normal;
  color: #ffffff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 800;
  letter-spacing: 0px;
  margin-bottom: 12px;
  margin-top: 10px;
}
.projects-2 .project-1 .container p {
  font-size: 30px;
  font-weight: normal;
  color: #ffffff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  letter-spacing: 0px;
  padding-top: 0;
  margin-bottom: 10px;
  line-height: 29.999999999999996px;
}
@media (max-width: 480px) {
  .projects-2 .project-1 .container h1 {
    font-size: 25px;
  }
  .projects-2 .project-1 .container p {
    font-size: 15px;
  }
}
.projects-2 .project-2 {
  background-image: url('../../../common-files/img/Italy_001.jpg');
}
@media (max-width: 480px) {
  .projects-2 .project-2 .hero-unit h1 {
    font-size: 24px;
  }
}
.projects-2 .project-3 {
  background-image: url('../../../common-files/img/NY_002.jpg');
}
.projects-2 .project-3 [class*="fui-"] {
  font-size: 95px;
  line-height: 95px;
}
@media (max-width: 767px) {
  .projects-2 {
    padding-left: 0;
    padding-right: 0;
  }
}
/**
 * Project 3 stylesheet  
 * */
.projects-3 {
  padding-top: 110px;
  padding-bottom: 110px;
}
.projects-3 h3 {
  margin: 0 0 80px;
  font-size: 30px;
  font-weight: 300;
  text-align: center;
}
.projects-3 .projects {
  display: table;
  width: 100%;
}
.projects-3 .projects + .projects {
  margin-top: 85px;
}
.projects-3 .projects .project-wrapper {
  display: table-cell;
}
.projects-3 .projects .project-wrapper:first-child + .project-wrapper {
  text-align: center;
}
.projects-3 .projects .project-wrapper:first-child + .project-wrapper + .project-wrapper {
  text-align: right;
}
.projects-3 .projects .project {
  width: 220px;
  display: inline-block;
  vertical-align: top;
}
.projects-3 .projects .photo-wrapper {
  width: 220px;
  height: 220px;
  position: relative;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  background-color: #ecf0f1;
  -webkit-transition: background-color 0.4s;
  -moz-transition: background-color 0.4s;
  -o-transition: background-color 0.4s;
  transition: background-color 0.4s;
}
.projects-3 .projects .photo {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  background: 50% 50% no-repeat;
  opacity: 100;
  filter: alpha(opacity=10000);
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
.projects-3 .projects .overlay {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  text-align: center;
  color: #fff;
  line-height: 220px;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
.projects-3 .projects .overlay [class*="fui-"] {
  font-size: 46px;
}
.projects-3 .projects .info {
  text-align: center;
  font-size: 16px;
  color: #95a5a6;
  margin-top: 43px;
}
.projects-3 .projects .info b {
  color: #7f8c8d;
}
.projects-3 .projects .name {
  color: #34495e;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
  -webkit-transition: color 0.4s;
  -moz-transition: color 0.4s;
  -o-transition: color 0.4s;
  transition: color 0.4s;
}
.projects-3 .projects .project:hover .photo-wrapper {
  background-color: #1abc9c;
}
.projects-3 .projects .project:hover .photo {
  opacity: 40;
  filter: alpha(opacity=4000);
  opacity: 0.4;
  filter: alpha(opacity=40);
}
.projects-3 .projects .project:hover .overlay {
  opacity: 100;
  filter: alpha(opacity=10000);
  opacity: 1;
  filter: alpha(opacity=100);
}
.projects-3 .projects .project:hover .name {
  color: #1abc9c;
}
@media (max-width: 767px) {
  .projects-3 .projects {
    display: block;
    width: auto;
  }
  .projects-3 .projects .project-wrapper {
    display: block;
    text-align: center!important;
  }
  .projects-3 .projects .project-wrapper + .project-wrapper {
    margin-top: 85px;
  }
}
/**
 * Project 4 stylesheet  
 * */
.projects-4 {
  padding-top: 30px;
  padding-bottom: 10px;
}
.projects-4 h3 {
  margin: 0 0 0px;
  font-size: 30px;
  font-weight: 300;
  text-align: left;
}
.projects-4 .projects + .projects {
  margin-top: 80px;
}
.projects-4 .projects .photo-wrapper {
  height: 175px;
  position: relative;
  overflow: hidden;
}
.projects-4 .projects .photo {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
  background: 50% 50% no-repeat;
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
.projects-4 .projects .overlay {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  text-align: center;
  color: #fff;
  line-height: 145px;
}
.projects-4 .projects .overlay [class*="fui-"] {
  font-size: 46px;
}
.projects-4 .projects .info {
  height: 100px;
  text-align: left;
  font-size: 13px;
  color: #95a5a6;
}
.projects-4 .projects .info b {
  color: #7f8c8d;
}
.projects-4 .projects .name {
  color: #34495e;
  font-size: 19px;
  font-weight: 500;
  margin-bottom: 5px;
  display: block;
}

.projects-4 .projects .name.color-orange:hover,
.projects-4 .projects .name.color-orange.hover {
  color: #f39c12;
  -webkit-transition: color 0.4s;
  -moz-transition: color 0.4s;
  -o-transition: color 0.4s;
  transition: color 0.4s;
}
.projects-4 .projects .name.color-belize-hole:hover,
.projects-4 .projects .name.color-belize-hole.hover {
  color: #2980b9;
  -webkit-transition: color 0.4s;
  -moz-transition: color 0.4s;
  -o-transition: color 0.4s;
  transition: color 0.4s;
}
.projects-4 .projects .name.color-green-sea:hover,
.projects-4 .projects .name.color-green-sea.hover {
  color: #16a085;
  -webkit-transition: color 0.4s;
  -moz-transition: color 0.4s;
  -o-transition: color 0.4s;
  transition: color 0.4s;
}
.projects-4 .projects .project:hover .photo {
  opacity: 40;
  filter: alpha(opacity=4000);
  opacity: 0.4;
  filter: alpha(opacity=40);
}
@media (max-width: 767px) {
  .projects-4 .projects .project-wrapper + .project-wrapper {
    margin-top: 80px;
  }
}
